{
  "presets": [["es2015", { "loose": true }]],
  "plugins": ["transform-vue-jsx"],
  "env": {
    "utils": {
      "plugins": [
        ["module-resolver", {
          "root": ["thx-knight"],
          "alias": {
            "thx-knight/src": "thx-knight/lib"
          }
        }]
      ]
    }
  }
}
