table {
    border-collapse: collapse !important;
}
.el-table2 {
    font-size: 14px;
}
.el-table2 th {
    font-weight: lighter;
    text-align: left;
}
.el-table2 .thead-dark th {
    border: 1px solid transparent;
}
.el-table2 td {
    border: 1px solid #ddd;
    padding: 0;
}

.el-table2 .thead-dark {
    background: #34495e;
    line-height: 40px;
    color: #fff;
}

.el-table2 .cell {
    box-sizing: border-box;
    padding: 0 10px;
}

.el-table2 th .cell {
    white-space: nowrap;
}

.el-table2 .tr-first>td {
    border: 0;
}

.el-table2 .table-row {
    margin-top: 15px;
    margin-left: -1px;
}

.el-table2 .table-row > table thead tr {
    border: 1px solid #ddd;
    height: 40px;
    background: #ecf0f1;
    color: #34495e;
}

.el-table2 .table-row > table tbody tr td {
    height: 90px;
}

.el-table2 .table-row > table tbody tr:hover {
    background: #EAF0F6;
}

/* expand表格 */
.el-table2 .expand-con {
    margin-top: -1px;
}
.el-table2 .expand-con table thead tr,
.el-table2 .expand-con table thead tr th,
.el-table2 .expand-con table thead div {
    height: 26px;
    line-height: 26px;
    border: 0;
    background: #88c4ff !important;
}

.el-table2 .expand-con table tbody tr td {
    height: 40px;
    background: #ddedff;
    border-left: 0;
}

/* active */
.el-table2 .active {
    border: 2px solid #3399ff;
}

.el-table2 .active > table thead tr {
    background: #3399ff;
    color: #fff;
    border: 0;
}

.el-table2 .active > table thead tr * {
    color: #fff !important;
}

.el-table2 .active > table tbody {
    background: #ddedff;
}

.el-table2 .active > table tbody td {
    border-right: 0;
}

.el-table2 .active .expand-con table thead tr {
    border: 0;
}

/* 特殊处理 */
.el-table2-no-data {
    text-align: center;
    color: #999;
    line-height: 60px;
    border: 1px solid #ddd;
}

.el-table2-loding {
    text-align: center;
    border: 1px solid #ddd;
    padding: 33px 0;
}

.el-table2-loding .circular {
    width: 42px;
    height: 42px;
    animation: loading-rotate 2s linear infinite;
}

.el-table2-loding .path {
    animation: loading-dash 1.5s ease-in-out infinite;
    stroke-dasharray: 90,150;
    stroke-dashoffset: 0;
    stroke-width: 2;
    stroke: #1abc9c;
    stroke-linecap: round;
}

.el-table2-loding p {
    font-size: 18px !important;
    line-height: 1.722 !important;
}

